<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Service_2024"
        tools:targetApi="31">
        <activity
            android:name=".services.remotebinderservice.RemoteBindingActivity"
            android:exported="false"
            android:label="@string/title_activity_remote_binding"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".services.normalservice.ServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_service"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".services.localbinderservice.LocalBindingActivity"
            android:exported="false"
            android:label="@string/title_activity_local_binding"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".intentservices.boundintentservice.IntentServiceBindingActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".intentservices.intentservice.IntentServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".job.jobintentservice.JobIntentServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".job.jobsecheduler.JobSchedulerActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_Service_2024" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_Service_2024">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.normalservice.MyService" />
        <service android:name=".services.localbinderservice.LocalBindingService" />
        <service
            android:name=".services.remotebinderservice.RemoteBindingService"
            android:exported="true" />
        <service android:name=".intentservices.intentservice.MyIntentService" />
        <service android:name=".intentservices.boundintentservice.MyBoundIntentService" />
        <service
            android:name=".job.jobintentservice.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".job.jobsecheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <queries>
        <package android:name="com.example.remotebindingconsumerapp" />
    </queries>

</manifest>